.outer-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.inner-container {
  width: 100%;
  max-width: 1200px; /* Adjust as needed */
}

.question-btn {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: transparent;
  border: none;
  cursor: pointer;
  padding: 10px;
}

.dropdown-icon {
  width: 1.25rem;
  height: 1.25rem;
  transition: transform 0.3s ease-in-out;
}

.rotate-180 {
  transform: rotate(180deg);
}

.answer {
  display: none;
  padding: 10px;
  transition: display 0.3s ease-in-out;
}

.answer.visible {
  display: block;
}
